@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
    background-color:#FFFFFF
}

.centerDiv
{
   margin: 0% /*top,bottom margins*/  10%  /*left, right margins*/;
}

/*
.menu {
    width: 75%;
    float: left;
}
.credits {
    width: 25%;
    float: left;
}
*/
